<div class="d-flex align-items-center justify-content-start my-2">
    <div class="d-flex mx-2 align-items-center">
        <label [for]="identifier+'select'" class="form-label me-2 my-0 text-nowrap">Page Size:</label>
        <select [id]="identifier+'select'" class="form-select" [ngModel]="pageSize()" (ngModelChange)="pageSize.set($event)">
            <option [ngValue]="10">10</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="50">50</option>
            <option [ngValue]="100">100</option>
        </select>
    </div>
    <span class="ag-paging-page-summary-panel">
        <button class="btn btn-light" (click)="changePage(1)" [disabled]="currentPage()<=1">
            <fa-icon [icon]="firstPageIcon"></fa-icon>
            <span class="visually-hidden">Go to First Page</span>
        </button>
        <button class="btn btn-light" (click)="changePage(currentPage() - 1)" [disabled]="currentPage()<=1">
            <fa-icon [icon]="previousPageIcon"></fa-icon>
            <span class="visually-hidden">Go to Previous Page</span>
        </button>
        <output class="ag-paging-description">
            <span >Page {{ currentPage() }} of {{totalPages()}}</span>
        </output>
        <button class="btn btn-light" (click)="changePage(currentPage() + 1)" [disabled]="currentPage()>=totalPages()">
            <fa-icon [icon]="nextPageIcon"></fa-icon>
            <span class="visually-hidden">Go to Next Page</span>
        </button>
        <button class="btn btn-light" (click)="changePage(totalPages())" [disabled]="currentPage()>=totalPages()">
            <fa-icon [icon]="lastPageIcon"></fa-icon>
            <span class="visually-hidden">Go to Last Page</span>
        </button>
    </span>
</div>